/* Gen CSS */
body,html
{
    margin:0px;
    padding:0px;
    font-family:"Raleway",sans-serif;
}
.ui
{
    z-index: 4;   
}

.button
{
    cursor: pointer;
}

/* Top UI CSS */
.top-ui
{        
    position:fixed;
    width:100%;
    height:70px;   
    background-color:rgba(223,223,223, 0.25);
    overflow:visible;
}
.top-ui div
{
    float:right;   
    line-height: 70px;
    text-align: center;
}
.scroll-outline
{
    height:170px;
    background-color:rgba(223,223,223, 0.25);
    width:170px;

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}
.scroll-outline-2
{
    height: 135px;
    width: 135px;
    margin: 20px 20px;
}
.scroll-button
{
    
    border-bottom-left-radius:20px;

    border-right-style: solid;
    border-right-width: 1px;

    height:60%;
    width:59%;

    background-color: #a8a8a8;
}
.scroll-button .text
{
    position: relative;
    top: 15px;

    line-height: 30px;
    float: none;
}

.scroll-outline-teacher
{
    height:120px;
    background-color:rgba(223,223,223, 0.25);
    width:120px;

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}
.scroll-button-teacher
{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;

    height:100px;
    background-color: #a8a8a8;
    width:100px;

    margin: 10px 10px;
}


.left-right-button
{
    border-bottom-right-radius:10px;
    background-color: #a8a8a8;
    width: 40%;
    height: 60%;
}
.left-button
{        
    height:50%;
    width:100%;
}
.right-button
{
    height:50%;
    width:100%;
}
.left-right-button .text
{
    margin-top: 10px;
    float: none;
    font-size: 18px;
}
.toteacher-button
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    background-color: #a8a8a8;

    height: 40%;
    width: 100%;

}
.toteacher-button .text
{
    float: none;
    line-height: 60px;
}
.page-up-down
{
    margin-top: 10px;
    width:220px;
    vertical-align: middle;
}
.page-down
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-left-radius:36px;
    border-bottom-left-radius:36px;
    height: 70%;
    width: 49%;
    border-right: 1px solid black;
}
.page-up
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-right-radius:36px;
    border-bottom-right-radius:36px;
    height: 70%;
    width: 50%;
}
.page-up-down .text
{
    float: none;
    line-height: 50px;
    font-size: 13px;
}
.page-up-down .text span
{
    font-size: 8px;
}

.undo-redo
{
    margin-top: 10px;
    width:220px;
    vertical-align: middle;
}
.undo
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-left-radius:36px;
    border-bottom-left-radius:36px;
    height: 70%;
    width: 50%;
}
.redo
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-right-radius:36px;
    border-bottom-right-radius:36px;
    height: 70%;
    width: 49%;

    border-left: 1px solid black;
}
.undo-redo .text
{
    float: none;
    line-height: 50px;
}
.zoom
{
    margin-top: 10px;
    width:220px;
    vertical-align: middle;
}
.zoom-in
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-left-radius:36px;
    border-bottom-left-radius:36px;
    height: 70%;
    width: 49%;
    border-right: 1px solid black;
}
.zoom-out
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-right-radius:36px;
    border-bottom-right-radius:36px;
    height: 70%;
    width: 50%;
}

.zoom .text
{
    float: none;
    line-height: 50px;
    font-size: 13px;
}

/* Side UI CSS */
.side-ui
{
    position:fixed;
    right:0px;
    height:100%;
    width:70px;
    background-color: rgba(223,223,223, 0.25);
}

.menu-wrapper
{
    position:relative;
}
.side-ui ul
{
    padding:0px 10px;
    list-style-type:none;
}
.side-ui ul li
{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    height:100px;
    width: 50px;

    text-align: center;       
    color:#777777;

    margin-top: 40px;
}
.side-ui .text
{
    padding-top: 30px;
}
.side-ui .shapes-text
{
    margin-left: -5%;
}

.side-ui ul li span.vert
{
    position:absolute;
    background-color:red;
    text-align: center;
    transform:rotate(-90deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}          

#TextMode 
{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    height: auto;
    width: auto;
    text-align: center; 
}

#TextMode .text
{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Cover CSS */
.cover
{
    position:fixed;
    top:0px;
    left:0px;
    display:none;
    z-index: 5;
    width:100%;
    height:100%;
    background-color:rgba(200,200,200,.5);
    text-align: center;
}
.scroll
{
    line-height: 768px;
    font-size:60px;
}

.pen
{
}
.pen h1,h2,h3,h4,h5,h6
{
    display:inline-block;
}

h2
{
    margin: 10 0;
}

.item-holder
{
    width:70%;
    height:70px;
    margin:0 15%;
}
.pen .color-list ul
{
    display:table;
    width:auto;
    padding:0px;
    margin:0 auto;
    list-style-type: none;
}
.pen .color-list ul li
{
    float:left;
    margin:0px 12px;
    width:70px;
    height:70px;
    background-color:green;
    border-radius:20%;
}
#Red        { background-color:#cc0000;     }
#Orange     { background-color:#cc8400;  }
#Yellow     { background-color:#cccc00;  }
#Green      { background-color:#00cc00;   }
#Blue       { background-color:#0000cc;    }
#Purple       { background-color:#44146f; }
#Black      { background-color:black;   }

.pen .pen-size
{
    height:30px; 
}
.pen .pen-size input[type="range"]
{
    float:left;
    -webkit-appearance: none;
    width:89%;
    height:10px;
    background-color:#fff;
    box-shadow: inset 0 0 5px #aaa;
}
.pen .pen-size input[type='range']::-moz-range-track {
     -moz-appearance: none;
     border-radius: 5px;
     box-shadow: inset 0 0 5px #333;
     background-color: green;
     height: 10px;
}
.pen .pen-size input[type='range']::-webkit-slider-thumb
{
    -webkit-appearance: none !important;
    background-color: #fff;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border-radius:10%;
    height: 30px;
    width: 20px;
}
.pen .pen-size input[type='range']::-moz-range-thumb 
{
    -moz-appearance: none;
    background-color: blue;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
.pen .pen-size .dot
{
    margin-top:-30px;
    float:right;
    width:10%;
    height:30px;
    text-align:center;
    line-height: 10px;
}
.pen .pen-type
{
}
.pen .pen-type ul
{
    display:table;
    width:100%;
    padding:0px;
    margin:0 auto;
    list-style-type: none;
}
.pen .pen-type ul li
{
    float:left;
    margin:0px 1.66666666%;
    width:30%;
    height:70px;
    background-color:white;
    border-radius:20px;
    line-height: 70px;
    font-size:20px;
}
.shapes
{
}
.shapes .shapes-list
{
    width:70%;
    margin:0 15%;   
}
.shapes .shapes-list ul
{
    display:table;
    width:100%;
    margin:0 auto;
    padding:0px;
    list-style-type: none;
}
.shapes .shapes-list ul li
{
    float:left;
    margin:0 40px;
}
.tools
{
}

.tools .tool-picker
{
}
.tools .tool-picker ul
{
    padding:0px;
    margin:0px;
    list-style-type: none;
}
.tools .tool-picker ul li
{
    float:left;
    margin:1% 1.5%;
    width:30%;
    height:70px;
    background-color:white;
    border-radius:20px;
    line-height: 70px;
    font-size:20px;
}

/*Covers*/

.cover-close
{
    position:fixed;
    width:30px;
    height:30px;
    left:5px;
    top:5px;
    font-size:30px;
}
.cover-help
{
    position:fixed;
    width:30px;
    height:30px;
    bottom:5px;
    left:5px;
    font-size:20px;
}

.cover-exit
{
    position:fixed;
    width:30px;
    height:30px;
    top:5px;
    left:5px;
    font-size:20px;
}
/* Spacers CSS */
.spacer-a /* Spacer used in top ui */
{
    width:50px;
    height:100%;
}

.spacer-b /* Spacer used to hide scroll */
{
    width:100%;
    height:140px;
}

.spacer-5
{
    width: 1px;
    margin: 0 auto;
    height: 5px;
}
.spacer-10
{
    width:1px;
    margin:0 auto;
    height:10px;
}
.spacer-20
{
    width:1px;
    margin:0 auto;
    height:20px;
}
.spacer-40
{
    width:1px;
    height:40px;
    margin:0 auto;
}
.spacer-70
{
    width:1px;
    height:70px;
    margin:0 auto;
}
.spacer-80
{
    width:100%;
    height:80px; 
}

/* Shapes CSS */               
#Box
{
    width:100px;
    height:100px;
    background-color:red;
}
#Circle
{
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:red;
}
#Line 
{
    width:100px;
    height:100px;
    background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           red 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

/*all help text*/

.help-text
{
    opacity: 0.0;
    display: inline-block;
}

/*page number on main UI*/

#PageNumber
{
    text-align: center;
    margin-top: 10px;
}

/*google drive saving*/

#Updating 
{
    color:#000;
    background:#C0C0C0;
    opacity:.4;
    display: none;
    position:fixed;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 20%;

    left:10px;
    top:80px;
}

/*loading pages/image*/

#LoadingColor 
{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #ecf5fe;
    width: 2000px;
    height: 2000px;
    z-index: 5;
    opacity: 0.8;
    display: none;
}

#Loading {
    margin-right: 100px;
    margin-left: 190px;
    margin-bottom: 0px;
    display: block;
}

#LoadingText {
    position: fixed;
    z-index: 6;
    font-size: 50px;
    margin-top: -340px;
    margin-left: 220px;
    display:block;
}

canvas 
{
    border: 2px solid #000000;
}

/*rounded easy-buttons for student*/

.round-pen
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 140px;
    right: 140px;
}

.round-pen .text
{
    margin-top: 4px;
    margin-right: 3px;
}

.round-eraser
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 150px;
    right: 90px;
}

.round-eraser .text
{
    margin-top: 5px;
    margin-right: 3px;
}

.round-highlighter
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    color: black;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 90px;
    right: 150px;
}

.round-highlighter .text
{
    margin-top: -19px;
    margin-right: 6px;
}

.round-highlighter .text span
{
    border-radius: 50%;
}





/*Rounded easy-buttons for teacher*/

.round-pen-teacher
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 110px;
    right: 110px;
}

.round-pen-teacher .text
{
    margin-top: 4px;
    margin-right: 3px;
}

.round-eraser-teacher
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 130px;
    right: 70px;
}

.round-eraser-teacher .text
{
    margin-top: 5px;
    margin-right: 3px;
}

.round-highlighter-teacher
{
    display:block;
    width:30px;
    height:30px;
    border-radius: 50%;
    color: black;
    text-align:center;
    text-decoration:none;
    background: #a8a8a8;
    box-shadow: 0 0 5px black;

    position: fixed;
    top: 70px;
    right: 130px;
}

.round-highlighter-teacher .text
{
    margin-top: -19px;
    margin-right: 6px;
}

.round-highlighter-teacher .text span
{
    border-radius: 50%;
}

/*push notes*/

.push-note-list
{
    position: fixed;
    left: 0px;
    bottom:0px;
    width:20%;
}

.push-note
{
    width: 100%;

    padding: 25px 25px;

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;

    font-size: 18px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    display: none;

}

/*textboxes*/

textarea {
    font-family : Arial;
    background-color : transparent; 

      border-radius:8px;
      border:6px solid #556677;
}

/*Custom Alerts and Prompts*/

.alert-box, .alert-box-2, .prompt-box
{
    position: fixed;

     display: none;

    top: 20%;
    left:40%;

    width: 25%;
    height: 25%;
    background-color: rgba(223,223,223, 0.25);

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.main-text
{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;

    text-align: center;
}

.accept-container
{
    display: inline-block;

    position: absolute;
    bottom: 10%;
    left: 32.5%;

    width: 35%;
    height: 20%;

    text-align: center;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.alert-options
{
    list-style: none;
    position: absolute;
    bottom: 10%;

    width: 100%;
    height: 20%;

    padding-right: 0;
    padding-left: 1%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0;
}

.alert-options li
{
    display: inline-block;

    width: 35%;
    height: 100%;

    margin-left: 10%;

    text-align: center;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.alert-options li .text, .accept-container .text
{
    margin-top: 6%;
}

.prompt-input
{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}


/*whiteboard stuff*/

.whiteboard-number
{
    margin-top: 20px;
    width: 100%;
    height: 100%;

    text-align: center;
}



